/**************************************** common ****************************************/

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/**************************************** reset ****************************************/

// scrollbar
body{
  -ms-overflow-style: none;
}
section::-webkit-scrollbar {
  display: none;
}

// input
input::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

/**************************************** util ****************************************/

.w-inherit {
  width: inherit;
}

.h-inherit {
  height: inherit;
}

/**************************************** custom ****************************************/

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f1f1;
  color: #222;
}

// swiper
.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  opacity: 0.7;
  background-size: 70% auto;
  background-position: center;
}