@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f1f1;
  color: #222;
}

/* 스크롤바 제거 */
body{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

input::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.swiper-button-prev {
  //변경할 화살표 이미지
  //background: url() no-repeat;
}
.swiper-button-next {
  //변경할 화살표 이미지
  //background: url() no-repeat;
}

.swiper-button-prev,
.swiper-button-next {
  opacity: 0.7;
  background-size: 70% auto;
  background-position: center;
}