@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f1f1;
}

/* 스크롤바 제거 */
body{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
